.navbar {
    background-color: #dddddd;
    height: 2em;
}

.title-link {
    font-family: cursive;
    font-size: 1.5em;
    text-decoration: none;
    color: #0085d3;
    margin-left: 2em;
}

.button {
    float: right;
    height: 100%;
    margin-right: 2em;
    border: none;
    font-size: 1em;
    font-family: cursive;
}

.button:hover {
    cursor: pointer;
    background-color: #0085d3;
}