.navbar {
    background-color: #181D20;
}

.title {
    text-align: center;
}

.title-link {
    font-size: 3em;
    font-family: 'BlackfatDemo';
    text-decoration: none;
    color: white;
    margin-left: 2em;
}

.row {
    margin: 0em 2em 0em 2em;
}

.sign-out {
    float: right;
}

.btn-margin {
    margin-left: 2em;
}