.navbar {
    background-color: #adadad;
    height: 2.5em;
}

.title-link {
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 2em;
}

.navbar-btn {
    background-color: #33c3f0;
    color: white;
    float: right;
    height: 100%;
    margin-right: 2em;
    border: none;
}

.navbar-btn:hover {
    color: white;
    background-color: #1eaedb;
}